// Colors

$primary1: hsl(0, 100%, 74%);
$primary2: hsl(154, 59%, 51%);
$accent: hsl(248, 32%, 49%);
$neutral1: hsl(249, 10%, 26%);
$neutral2: hsl(246, 25%, 77%);

// Font

$size: 1em;
$family: "Poppins", sans-serif;
